{% extends "base.html" %}

{% block content %}
<h4>Login</h4>
  {% if form.errors %}
    <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
  {% endif %}

  <form action='.' method='post'>
    {% csrf_token %}
    <div class='form_input'>
    <label for="username">Логин:</label>
    <input type="text" name="username" value="" id="username">
    </div>

    <div class='form_input'>
    <label for="password">Пароль:</label>
    <input type="password" name="password" value="" id="password">
    </div>

    <div class='form_input'>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="/" />
    </div>
  </form>

{% endblock %}
