{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <base href="/">
    <title>UpDownWork (UDW)</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"  href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css">
    <script src="{{ ANGULAR_URL }}node_modules/core-js/client/shim.min.js"></script>
    <script src="{{ ANGULAR_URL }}node_modules/zone.js/dist/zone.js"></script>
    <script src="{{ ANGULAR_URL }}node_modules/systemjs/dist/system.src.js"></script>
    <script src="{{ ANGULAR_URL }}systemjs.config.js"></script>
    <link rel="stylesheet" href="{{ ANGULAR_URL }}jquery-ui.css">
    <script src="{{ ANGULAR_URL }}jquery-1.12.4.js"></script>
    <script src="{{ ANGULAR_URL }}jquery-ui.js"></script>
    <script>
      window.STATIC_URL = "{{ ANGULAR_URL }}";
      System.import('/ng/dist/main.js').catch(function(err){
          console.error(err);
      });
          $( function() {
			$("#datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
          } );
        </script>
    </head>
    <body>
        <form> {% csrf_token %} </form>
        <my-app>Загрузка...</my-app>
        <script src="{% static 'tether.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'bootstrap.min.js' %}" type="text/javascript"></script>
    </body>
</html>
