{% load static %}

<!DOCTYPE html>
<html>
    <head>
    <base href="/">
    <title>UpDownWork (UDW)</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ ANGULAR_URL }}node_modules/core-js/client/shim.min.js"></script>
    <script src="{{ ANGULAR_URL }}node_modules/zone.js/dist/zone.js"></script>
    <script src="{{ ANGULAR_URL }}node_modules/systemjs/dist/system.src.js"></script>
    <script src="{{ ANGULAR_URL }}systemjs.config.js"></script>
    <link rel="stylesheet" href="{{ ANGULAR_URL }}jquery-ui.css">
    <script src="{{ ANGULAR_URL }}jquery-1.12.4.js"></script>
    <script src="{{ ANGULAR_URL }}jquery-ui.js"></script>
    <script>
      window.STATIC_URL = "{{ ANGULAR_URL }}";
      System.import('/ng/app/main').catch(function(err){
          console.error(err);
      });
          $( function() {
            $( "#datepicker" ).datepicker();
          } );
        </script>
    </head>
    <body>
        <my-app>Загрузка...</my-app>
        <!-- 
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
-->
    </body>
</html>
