.selected {
    background-color: #7AD;
}
.users {
    margin: auto;
    width: 80%;
    text-align: right;
}

table {
    /*table-layout: fixed;*/
}

doubledate {
    display: flex;
}

.m5 {
    margin: 5px;
}

.comment {
    word-break: break-all;
}

.users-c {
    margin: auto;
    width: 70%;
    text-align: center;
}

td, th{
text-align: center;
}

nav {
    margin-bottom: 1em;
}

.nav-content {
    display: inherit;
}

.nav-right {
    position: absolute;
    right: 2em;
}

.w100 {
    width: 100%;
}

.form_margin {
    padding: 1em;
}

.my-nav-btn {
    cursor: pointer;
}

a {
   outline: 0;
}

form {
    margin: auto;
    width: 70%;

}

.mt-3 {
    margin-top: 1em;
}

