/*
body {
    background-color: #aac;
    color: #003;
    font-family: Geneva, sans-serif;
}

*/
.users {
    margin: auto;
    width: 70%;
    text-align: right;
}

.users-c {
    margin: auto;
    width: 70%;
    text-align: center;
}

td, th{
text-align: center;
}

.nav-content {
    display: inherit;
}

.nav-right {
    position: absolute;
    right: 1em;
}

/*
table {
    margin-top: 1em;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    color: #113; 
    font-family: Helvetica, Arial, sans-serif; 
}

td, th { border: 1px solid #AAC; }

th {
background: #03035F; 
font-weight: bold; 
color: #CCF;
border: 0px;
text-align: center;
}

tr:nth-child(even) td { background: #E1E1FF; }

tr:nth-child(odd) td { background: #EEEEFF; }
*/

/*
button, input[type=submit] {
    background-color: #ddf;
    border: 1px solid;
    padding: 0.5em;
    width: 100%;
}

input {
    padding: 0.5em;
    border: 1px solid;
}
*/

.w100 {
    width: 100%;
}

.form_margin {
    padding: 1em;
}

/*
nav {
    margin-top: 1em;
    width: 15%;
    position: absolute;
}

nav a, .nav {
    padding: 0.5em;
    background-color: aliceblue;
    border: 2px solid #66a;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5em;
    cursor: pointer;
}
*/
.my-nav-btn {
    cursor: pointer;
}

a {
   outline: 0;
}

form {
    margin: auto;
    width: 70%;

}

.mt-3 {
    margin-top: 1em;
}

/*
.form_input {
    width: 60%;
    padding: 1em;
    text-align: left;
}

.form_input label {
    width: 30%;
}
/*

.int_chg {
    padding: 1em;
}

h4 {
    text-align: center;
}
